:root {
   --header-color: gold;
   --font-color: coral;
   --bg-color: green;
}
body {
   color: var(--font-color);
   font-size: 30px;
   font-family: Arial, serif;
   background-color: var(--bg-color);
   /*background-image: url('wkvdimg.jpeg');*/
   background-repeat: no-repeat;
   background-size: cover;
}
      
h1 {
   color: var(--header-color);
   text-align: center;
   font-size: 4rem;
 }
      
header h2 {
   color: var(--header-color);
   position: absolute;
   top: 30px;
   right: 20px;
   font-size: 20px;
}
a {
   text-decoration: none;
}
a:link {
   color: var(--font-color);  
}   

a:visited {
   color: var(--font-color);
}   

a:hover {
   color: gold; 
}
a:active {
   color:  purple;
}

.active {
   color: chocolate; 
   background-color: white;
   border-radius: 4px;
}
nav a {
   float: right;
   padding: 0px 10px;
}
#default_videos {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows:  1fr 1fr 1fr 1fr;
   grid-gap: 10px;
   margin-bottom: 30px;
   width: 100%;
}
#default_videos  div {
   border: 1px solid gold;
   border-radius: 5px;
   margin:  20px;
   color: black;
   font-size: 10px;
   background: lightyellow;
   text-align: center;
}

#default_videos > .video0 {
   grid-row: 1 / span 4;
   grid-column: 1 / span 3;
   font-size: 30px;
   color: lightyellow;

}
.video0 iframe {
   width:  100%;
   height: 100%;
}
iframe {
   width:  100%;
}  
#container {
   font-size: 30px;
   text-align: center;
}
#videos {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows:  1fr 1fr 1fr 1fr;
   grid-gap: 10px;
   margin-bottom: 30px;
   width: 100%;
}
#videos > .video0 {
   grid-row: 1 / span 4;
   grid-column: 1 / span 3;
   font-size: 30px;
   color: lightyellow;
}
#videos  div {
   border: 1px solid gold;
   border-radius: 5px;
   margin:  20px;
   color: black;
   font-size: 10px;
   background: lightyellow;
   text-align: center;
}
.input-field {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: center;
   align-content: center;
   gap: 10px;
   justify-content: center;
   color: coral
}
#searchquery {
   width: 200px;
   height: 30px;
}
#searchbtn {
   width: 100px;
   height: 36px;
}
#searchbtn:hover {
   background-color: lightyellow;
}
footer {
   margin-top: 100px;
}